





.button {
  display: block;
  background-color: #bbb;
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: DodgerBlue;
  text-align: center;
}

.flex-container > div {


  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.new-line {
  white-space: pre-line;
}

.container{

  background-color: DodgerBlue;
  text-align: center;
  margin-top:0 auto; 
 
}
.container-body{

  background-color: rgb(218, 209, 91);
  text-align: center;
  margin:0 auto; 
  height: 800px;
  display: block;
}

div{
  background-color: rgb(218, 209, 91);

 
}

.grid-col-6
{
    grid-template-columns: repeat(6,1fr);
}
table{
  background-color: rgb(218, 209, 91);
}
body{
  background-color: rgb(218, 209, 91);
}

.container{
  background-color: DodgerBlue;
  text-align: center;
  height:50px;
  
 
}